.env
__pycache__/
*.pyc
.DS_Store
# dbt artifacts
uk_crime_dbt/target/
uk_crime_dbt/logs/
uk_crime_dbt/.user.yml
uk_crime_dbt/profiles.yml

# Airflow
logs/
plugins/
config/
docker-compose.yaml

# Airflow runtime
logs/
plugins/
config/
